<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Zain-Portfolio</title>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.jpg" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/et-line-font/et-line-font/style.css" media="all">


    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all">



    <!--Use for Tabs-->
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/jquery.js"></script> <!--USE FOR SCROLLING NAVIGATION-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/css/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!--<div class="container">-->


    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid"> <!--color change-->
            <div class="navbar-header bg-info">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="#"><span class="glyphicon glyphicon-home color"></span></a></li>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Me</a> </li>
                    <li><a href="#resume">Resume</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contacts</a></li>

                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>




<!--</div>-->

<br><br><br><br>
    <div id="home">

        <div class="container">
        <h1>Hi, I am Zain Ansari</h1>
        <span class="status">I am <b class="highlight">Web designer</b> and <b class="highlight">Web developer</b>.<br>
            Creating awesome and attractive layouts of websites and web applications,<br>
            Satisfy clients needs and expectations.
        </span>
            <br><br><br>
        <hr>
        </div>

    </div>

    
    <div id="about">
        <div class="container">
            <br><br>
        <img src="/images/zain.jpg" class="img-circle" width="17%" height="17%" alt="picture not supported" id="myimg">
        <span class="bio-data">My name is Zain Ansari.<br>
            I am Computer Science student at Sir Syed University of Engineering and Technonolgy. <br>
            I like to play football.

        </span>
            <br><br><br>


        </div>


    </div>





    <div id="mydetail">

        <br><br>

    <h1 id="myinfo">Basic Info</h1><br><br>

    <span class="info">Date of Birth:</span><span class="info-detail"> 27 February</span><br>
    <span class="info">Year of Birth:</span><span class="info-detail"> 1992</span><br>
    <span class="info">Gender:</span><span class="info-detail"> Male</span><br>
    <span class="info">Languages:</span><span class="info-detail"> Urdu and English</span><br>
        <br><br><br>


    </div>







    <div id="resume">


        <div class="container">
        <br><br>

        <div id="resume-background"> <!--this is new-->

            <br>
        <h1 id="resumehead">My Resume</h1> <br><br>




        <h1 class="cv-heading">EDUCATION</h1><br>

        <h3>MATRICULATION | 2009 | SHADMAN ACADEMY</h3>
        <ul class="edu">
            <li>Grade: A1 (82%)</li>
            <li>Related coursework: Computer Science</li>
        </ul><br>


        <h3>INTERMEDIATE | 2011 | GOV. DEGREE COLLEGE SRE MAJEED</h3>
        <ul class="edu">
            <li>Grade: C (58%)</li>
            <li>Related coursework: Pre-Engineering</li>
        </ul><br>

        <h3>Bachelor in Science(BS) | 2012 | SIR SYED UNIVERSITY OF ENGINEERING AND TECHNOLOGY</h3>
        <ul class="edu">
            <li> Related coursework: Computer Science</li>
        </ul><br>


        <h1 class="cv-heading">SKILLS</h1><br>


            <span class="skills">HTML5</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95" style="width: 95%">
                        <span>95%</span> <!--class="sr-only" is removed from span tag-->
                    </div>
                </div>



            <span class="skills">CSS3</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90" style="width: 90%">
                    <span>90%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div>



            <span class="skills">JAVASCRIPT</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" style="width: 65%">
                    <span>70%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div>



            <span class="skills">BOOTSTRAP</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85" style="width: 85%">
                    <span>85%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div>



            <span class="skills">JQUERY</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="73" style="width: 65%">
                    <span>73%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div>





            <span class="skills">Php with MySql Database</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width: 60%">
                    <span>60%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div>




            <span class="skills">TypeScript</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" style="width: 65%">
                    <span>70%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div><br>

            <span class="skills">ExpressJs</span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-color" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width: 65%">
                    <span>60%</span> <!--class="sr-only" is removed from span tag-->
                </div>
            </div><br>






            <h1 class="cv-heading">SOFTWARE PACKAGES</h1><br>


        <ul class="edu">
            <li>Microsoft Office</li>
            <li>PhotoShop</li>
            <li>DreamWeaver</li>
            <li>WebStorm</li>
            <li>PhpStorm</li>
            <li>Visual Code</li>
        </ul><br>


        <h1 class="cv-heading">SHORT COURSES</h1><br>
        <ul class="edu">
            <li>HTML5, CSS3, JAVASCRIPT, Bootstrap (Studied at Sir Syed University)</li>
        </ul>


            <br><br><br>


        </div>

    </div>
    </div>




     <div id="projects">
         <br><br>

         <span id="pro">P</span><span id="project-head"><b>rojects</b></span>

         <div class="container">


             <div class="row">


                 <div class="col-xs-6 col-md-3">
                     <a href="/images/1.png" class="thumbnail">
                         <img src="/images/1.png" alt="Le Petit Palais in Nice, FR">
                         <h3>Online Shop</h3>
                     </a>
                 </div>


                 <div class="col-xs-6 col-md-3">
                     <a href="/images/2.png" class="thumbnail">
                         <img src="/images/2.png" alt="Le Petit Palais in Nice, FR">
                         <h3>Quiz Application</h3>
                     </a>
                 </div>


                 <div class="col-xs-6 col-md-3">
                     <a href="/images/3.png" class="thumbnail">
                         <img src="/images/3.png" alt="Le Petit Palais in Nice, FR">
                         <h3>Fashion Webpage</h3>
                     </a>
                 </div>


                 <div class="col-xs-6 col-md-3">
                     <a href="/images/4.png" class="thumbnail">
                         <img src="/images/4.png" alt="Le Petit Palais in Nice, FR">
                         <h3>Cricinfo</h3>
                     </a>
                 </div>




             </div>

         </div>



         <br><br><br>




     </div>













    <div id="contact">

        <br>
        <a href="#page-top"><span class="glyphicon glyphicon-chevron-up" id="chevron-up" ></span></a>

        <br><br>

        <div class="container">
        <h1 id="contact-head">Contacts</h1>        <br><br>
        </div>


        <span class="contact-info">Mobile Phone:</span><span class="contact-infodetail"> 0336-2344369</span><br>

        <span class="contact-info">Email:</span><span class="contact-infodetail"> zainansari11@y7mail.com</span><br>

        <span class="contact-info">Skype ID:</span><span class="contact-infodetail"> zain.ansari58</span><br>


           <div id="social-contact">
               <br><br>
            <span class="twitter  icon-twitter img-circle"></span>
            <span class="facebook icon-facebook img-circle"></span>
            <span class="gplus icon-googleplus img-circle"></span>

           </div>

        <br><br><br>


    </div>



<footer>
    CopyRight© Zain Ansari,2016<br>
    All Rights Reserved
</footer>







        





</body>
</html>